/* MEDIA QUERIES */

.gameimg {

  margin-left: 6rem !important;

}

@media screen and(max-width: 1650px) {

  .gameimg {

    margin-left: 4rem !important;

  }

}

@media screen and(max-width: 1550px) {

  .gameimg {

    margin-left: 2.75rem !important;

  }

}

@media screen and(max-width: 1400px) {

  .submitgametext {


    margin-left: 5rem !important;


  }

  .gameimg {

    width: 18rem !important;
    height: 24rem !important;

  }

}

@media screen and (max-width: 1250px) {

  $fontsizeText: 14px;
  $fontsizeH1: 32px;
  $fontsizeH2: 28px;
  $fontsizeH3: 24px;

  h1 {


    font-size: $fontsizeH2;

  }

  h2 {


    font-size: $fontsizeH2;

  }

  h3 {


    font-size: $fontsizeH3;

  }



  p {

    font-size: $fontsizeText;

  }


  .flip-card {
    display: block;
  }

}

@media screen and (max-width: 1250px) {

  .gamecardTable {

    width: 10rem !important;
    height: 16rem !important;
    justify-content: center !important;

  }

  td {
    vertical-align: middle;
    text-align: center !important;
    font-size: 18px;
  }

  th h3 {

    font-size: 20px;

  }

}


@media screen and (max-width: 1100px) {

  h1 {


    font-size: 22px;

  }

  .gamecardTable {

    width: 12rem !important;
    height: 18rem !important;
    justify-content: center !important;

  }

  h3 {


    font-size: 20px;
  }

  .nav-link{

    margin-left: 0 !important;

  }


}


@media screen and (max-width: 991px) {

  .game {

    flex-wrap: wrap !important;


  }

  .gamelistselect {


    width: 50% !important;

  }

  .gamecard {

    width: 18rem !important;
    height: 21rem !important;
    margin-top: 2.5rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;


  }

  .gamecardTable {

    width: 12rem !important;
    height: 18rem !important;
    justify-content: center !important;

  }
  .navhead {


    justify-content: center;


  }

  .logo {


    order: 2;
    position: absolute;


  }

  .searchbar {


    order: 3;
    margin-bottom: 2.5rem;

  }

  .logsubmit {


    justify-content: space-between !important;


  }

  .submitsection {

    margin-left: 0 !important;
    margin-top: 0 !important;

  }


  .footertext {

    font-size: 18px;
  }

  .footertext2 {

    font-size: $fontsizeH3;

  }

  .footerimg {

    max-width: 48px !important;
    max-height: 48px !important;


  }

  .submitgametext {


    margin-left: 3rem !important;
    margin-top: 5rem !important;


  }

  .submitnote {


    text-align: center !important;

  }

  .reviewgame {

    display: block !important;

  }

  .headsubreviewgame {

    margin-top: 3rem !important;

  }

  .subreviewgame {

    margin-top: 0 !important;

  }

  .gameimg {

    width: 32rem !important;
    height: 21rem !important;

  }

  .chartTime{

    margin-bottom: 3rem !important

  }

  @media screen and (max-width: 830px) {

    h3 {

      font-size: 18px;

    }


  }

}

@media screen and (max-width: 780px) {

  table {

    padding-left: 0 !important;
    padding-right: 0 !important;


  }

  th h3 {

    font-size: 18px;

  }


  .gamecardTable {

    width: 10rem !important;
    height: 16rem !important;
    visibility: collapse !important;
    display: none;

  }

  .colgame {

    visibility: collapse !important;
    display: none !important;
  }

  .submitgametext {

    text-align: center !important;
    margin-left: 3rem !important;


  }

  .gamesection {

    display: block !important;

  }

  .gameimg {

    width: 22rem !important;
    height: 24rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;

  }

  .gametext {

    display: block !important;
    margin-left: 0 !important;


  }

  .subgametext {

    margin-left: 0 !important;

  }


  @media screen and (max-width: 700px) {

    .staticon {

      justify-content: start !important;
      margin-left: 3rem;


    }

    .sectiontitle {

      text-align: center !important;
      font-size: $fontsizeH2;
      display: block !important;

    }


  }


  @media screen and (max-width: 650px) {

    $fontsizeText: 14px;
    $fontsizeH1: 20px;
    $fontsizeH2: 24px;
    $fontsizeH3: 18px;


    h1 {

      display: none;

    }

    h2 {


      font-size: $fontsizeH2;

    }

    h3 {


      font-size: $fontsizeH3;

    }


    p {

      font-size: $fontsizeText;

    }

    .footertext {

      font-size: $fontsizeH3;
    }

    .footertext2 {

      font-size: $fontsizeH3;

    }

    .sectiontitle {

      font-size: $fontsizeH2;
    }

    .footercontent {

      display: block !important;
      justify-content: center !important;


    }

    .footersubcontent {

      justify-content: center !important;
      margin-top: 2rem;

    }

    .socialicon {

      order: 1;

    }

    .contacticon {

      order: 2;

    }

    .orgfootercontent {

      display: flex;
      flex-direction: column;

    }

    .gamelistselect {


      width: 75% !important;

    }

    .submitgamesection {

      display: block !important;
      justify-content: center !important;
      text-align: center !important;


    }

    .submitgametext {


      text-align: center !important;

    }

    .submitnote {

      margin-left: 0 !important;

    }

    .submitimg {

      margin-left: 0 !important;
      margin-bottom: 0 !important;

    }

    .submitgametext {


      margin-left: 0 !important;


    }

    @media screen and (max-width: 450px) {


      .gameimg {

        width: 24rem !important;
        height: 28rem !important;
      }


    }

  }

  @media screen and (max-width: 400px) {

    $fontsizeText: 14px;
    $fontsizeH1: 20px;
    $fontsizeH2: 24px;
    $fontsizeH3: 18px;

    .logo {

      order: 1;
      position: initial;
      display: block;

    }

    .searchbar {

      order: 3;

    }

    .logsubmit {

      order: 4;
      justify-content: space-between !important;
      margin-bottom: 2.5rem;
      display: block;
      position: initial;


    }

    .footertext {

      font-size: $fontsizeH3;
    }

    .footertext2 {

      font-size: $fontsizeH3;

    }

    .sectiontitle {

      font-size: 20px;
    }

    h3 {

      font-size: 14px;

    }

    .staticon {

      justify-content: start !important;
      margin-left: 0 !important;


    }

    .gamecard {

      width: 20rem !important;
      height: 21rem !important;
      margin-top: 2.5rem;
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding-left: 0;
      padding-right: 0;


    }
    .gamelistselect {


      width: 100% !important;

    }

    .submitimg {

      width: 15rem !important;
      height: 18rem !important;

    }


  }
}