.navbarAnimation{

  color: $textcolor2 !important;
  font-family: "Russo One",sans-serif;

}

.navbarAnimation:hover{

  color: #c06faa !important;
  animation: navbarAnim 1s ease 0s both;


}

@keyframes navbarAnim {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}