.btn {

  font-family: "Play", sans-serif;

}

button:hover {

  font-family: "Play", sans-serif;
  color: #3e2437 !important;
  background: #f5f5f5 !important;

}

.log::placeholder {

  font-family: "Play", sans-serif;

}

label {

  font-family: "Play", sans-serif !important;

}

.welcome{

  border-right: 2px solid $textcolor2;

}

