.search {
  width: 75%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #935482;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #935482;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #935482;
  background: #935482;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.whatnew {

  flex-grow: 0.25 !important;

}

td {
  vertical-align: middle;
  text-align: center !important;
  font-size: 18px;
}

.hide {

  display: none;

}

.datahide {

  display: none;

}

.btn:focus{

  box-shadow: none !important;

}