@import "../node_modules/bootstrap/scss/bootstrap";

/* Custom code here */

/* Define standard variables and values for website */

/*Website colors */
$bgcolor1: #c06faa;
$bgcolor2: #935482;
$bgcolor3: #6b3d5f;
$bgcolor4: #3E2437;
$textcolor1: #3E2437;
$textcolor2: #f5f5f5;

/* BACKGROUND */

body {

  background-image: linear-gradient(216deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 25%, rgba(42, 42, 42, 0.05) 25%, rgba(42, 42, 42, 0.05) 38%, rgba(223, 223, 223, 0.05) 38%, rgba(223, 223, 223, 0.05) 75%, rgba(36, 36, 36, 0.05) 75%, rgba(36, 36, 36, 0.05) 100%), linear-gradient(44deg, rgba(128, 128, 128, 0.05) 0%, rgba(128, 128, 128, 0.05) 34%, rgba(212, 212, 212, 0.05) 34%, rgba(212, 212, 212, 0.05) 57%, rgba(25, 25, 25, 0.05) 57%, rgba(25, 25, 25, 0.05) 89%, rgba(135, 135, 135, 0.05) 89%, rgba(135, 135, 135, 0.05) 100%), linear-gradient(241deg, rgba(55, 55, 55, 0.05) 0%, rgba(55, 55, 55, 0.05) 14%, rgba(209, 209, 209, 0.05) 14%, rgba(209, 209, 209, 0.05) 60%, rgba(245, 245, 245, 0.05) 60%, rgba(245, 245, 245, 0.05) 69%, rgba(164, 164, 164, 0.05) 69%, rgba(164, 164, 164, 0.05) 100%), linear-gradient(249deg, rgba(248, 248, 248, 0.05) 0%, rgba(248, 248, 248, 0.05) 32%, rgba(148, 148, 148, 0.05) 32%, rgba(148, 148, 148, 0.05) 35%, rgba(202, 202, 202, 0.05) 35%, rgba(202, 202, 202, 0.05) 51%, rgba(181, 181, 181, 0.05) 51%, rgba(181, 181, 181, 0.05) 100%), linear-gradient(92deg, hsl(214, 0%, 11%), hsl(214, 0%, 11%));

}

.bgsection {

  background: rgb(147, 84, 130);
  background: linear-gradient(47deg, rgba(147, 84, 130, 1) 0%, rgba(107, 61, 95, 1) 53%, rgba(62, 36, 55, 1) 100%);
}

/*Fonts */


@import url('https://fonts.googleapis.com/css2?family=Play&family=Russo+One&display=swap');

$fontsizeText: 18px;

$fontsizeH1: 36px;
$fontsizeH2: 32px;
$fontsizeH3: 28px;
$fontsizeFooter: 20px;

h1 {

  font-family: "Russo One", sans-serif;
  font-size: $fontsizeH1;
  color: #935482;
}

h2 {

  font-family: "Russo One", sans-serif;
  font-size: $fontsizeH2;
  color: $textcolor2;
}

h3 {

  font-family: "Play", sans-serif;
  font-size: $fontsizeH3;
  color: $textcolor2;
}

.why {

  font-family: "Russo One", sans-serif;
  font-size: $fontsizeH2;
  color: $textcolor2;

}


p {


  font-family: "Play", sans-serif;
  font-size: $fontsizeText;
  color: $textcolor2;

}

a:-webkit-any-link {

  color: $textcolor1;
  text-decoration: none;

}

a:-webkit-any-link:hover {

  color: $textcolor2 !important;

}

.footertext {

  font-family: "Play", sans-serif;
  font-size: $fontsizeFooter;
  color: $textcolor2;

}

.footertext2 {

  font-family: "Play", sans-serif;
  font-size: $fontsizeH3;
  color: $textcolor2;

}

.footertext:hover {

  color: #c06faa !important;

  .fa-envelope, .fa-scale-balanced {
    color: #c06faa !important;
  }
}

.fa-envelope, .fa-scale-balanced:hover {
  color: #c06faa !important;

  .footertext {

    color: #c06faa !important;
  }
}

.animfooter:hover {


  color: #c06faa !important;
  animation: myAnim 1s ease 0s 1 normal forwards;

  .fa-envelope, .fa-scale-balanced {
    color: #c06faa !important;
  }

  .footertext {

    color: #c06faa !important;
  }

}

/*Non-fonts hover */


.btn {

  font-family: "Play", sans-serif;

}

button:hover {

  font-family: "Play", sans-serif;
  color: #3e2437 !important;
  background: #f5f5f5 !important;

}

.log::placeholder {

  font-family: "Play", sans-serif;

}

label {

  font-family: "Play", sans-serif !important;

}

.fab, .fa-brands, .fa-envelope, .fa-scale-balanced {

  color: #f5f5f5 !important;

}

.fab, .fa-brands:hover {

  color: #c06faa !important;
  animation: myAnim 1s ease 0s 1 normal forwards;

}


@keyframes myAnim {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

/*Backgrounds */

.bgsection1 {

  background: $bgcolor1 !important;

}

.bgsection2 {

  background: $textcolor2 !important;


}

.bgsection3 {

  background: $bgcolor4 !important;


}

/*Search Bar */

.search {
  width: 75%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #935482;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #935482;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #935482;
  background: #935482;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.whatnew {

  flex-grow: 0.25 !important;

}

td {
  vertical-align: middle;
  text-align: center !important;
  font-size: 18px;
}

.hide{

  display:none;

}

/* Flip Cards */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border-radius: 30px !important;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 30px !important;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  border-radius: 30px !important;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px !important;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 30px !important;
}

/* Style the back side */
.flip-card-back {
  background-color: $bgcolor4;
  color: white;
  transform: rotateY(180deg);
}

/* BUTTONS */


/* MEDIA QUERIES */

@media screen and (max-width: 1250px) {

  $fontsizeText: 14px;
  $fontsizeH1: 32px;
  $fontsizeH2: 28px;
  $fontsizeH3: 24px;

  h1 {


    font-size: $fontsizeH2;

  }

  h2 {


    font-size: $fontsizeH2;

  }

  h3 {


    font-size: $fontsizeH3;

  }

  p {

    font-size: $fontsizeText;

  }


  .flip-card {
    display: block;
  }

}

@media screen and (max-width: 1250px){

  .gamecardTable {

    width: 10rem !important;
    height: 16rem !important;
    justify-content: center !important;

  }

  td {
    vertical-align: middle;
    text-align: center !important;
    font-size: 18px;
  }

  th h3{

    font-size: 20px;

  }

}

@media screen and (max-width: 1100px) {

  h1 {


    font-size: 22px;

  }

  .gamecardTable {

    width: 12rem !important;
    height: 18rem !important;
    justify-content: center !important;

  }


}


@media screen and (max-width: 991px) {

  .game {

    flex-wrap: wrap !important;


  }

  .gamelistselect{


    width: 50% !important;

  }

  .gamecard {

    width: 18rem !important;
    height: 21rem !important;
    margin-top: 2.5rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;


  }

  .gamecardTable {

    width: 12rem !important;
    height: 18rem !important;
    justify-content: center !important;

  }
  .navhead {


    justify-content: center;


  }

  .logo {


    order: 2;
    position: absolute;


  }

  .searchbar {


    order: 3;
    margin-bottom: 2.5rem;

  }

  .logsubmit {


    justify-content: space-between !important;


  }

  .submitsection{

    margin-left: 0 !important;
    margin-top: 0 !important;

  }


  .footertext {

    font-size: 18px;
  }

  .footertext2 {

    font-size: $fontsizeH3;

  }

  .footerimg {

    max-width: 48px !important;
    max-height: 48px !important;


  }

}
@media screen and (max-width: 780px) {

  table{

    padding-left: 0 !important;
    padding-right: 0 !important;


  }

  th h3{

    font-size: 18px;

  }


  .gamecardTable {

    width: 10rem !important;
    height: 16rem !important;
    visibility: collapse !important;
    display: none;

  }

  .colgame{

    visibility: collapse !important;
    display: none !important;
  }

  .submitgametext{

    text-align: center !important;
    margin-left: 3rem !important;


  }


@media screen and (max-width: 700px) {

  .staticon {

    justify-content: start !important;
    margin-left: 3rem;


  }

  .sectiontitle {

    text-align: center !important;
    font-size: $fontsizeH2;
    display: block !important;

  }




}


@media screen and (max-width: 650px) {

  $fontsizeText: 14px;
  $fontsizeH1: 20px;
  $fontsizeH2: 24px;
  $fontsizeH3: 18px;


  h1 {

    display: none;

  }

  h2 {


    font-size: $fontsizeH2;

  }

  h3 {


    font-size: $fontsizeH3;

  }


  p {

    font-size: $fontsizeText;

  }

  .footertext {

    font-size: $fontsizeH3;
  }

  .footertext2 {

    font-size: $fontsizeH3;

  }

  .sectiontitle {

    font-size: $fontsizeH2;
  }

  .footercontent {

    display: block !important;
    justify-content: center !important;


  }

  .footersubcontent {

    justify-content: center !important;
    margin-top: 2rem;

  }

  .socialicon {

    order: 1;

  }

  .contacticon {

    order: 2;

  }

  .orgfootercontent {

    display: flex;
    flex-direction: column;

  }

  .gamelistselect{


    width: 75% !important;

  }

  .submitgamesection{

    display: block !important;
    justify-content: center !important;
    text-align: center !important;


  }

  .submitimg{

    margin-left: 0 !important;
    margin-bottom: 0 !important;

  }

  .submitgametext{


    margin-left: 0 !important;


  }



}

@media screen and (max-width: 400px) {

  $fontsizeText: 14px;
  $fontsizeH1: 20px;
  $fontsizeH2: 24px;
  $fontsizeH3: 18px;

  .logo {

    order: 1;
    position: initial;
    display: block;

  }

  .searchbar {

    order: 3;

  }

  .logsubmit {

    order: 4;
    justify-content: space-between !important;
    margin-bottom: 2.5rem;
    display: block;
    position: initial;


  }

  .footertext {

    font-size: $fontsizeH3;
  }

  .footertext2 {

    font-size: $fontsizeH3;

  }

  .sectiontitle {

    font-size: 20px;
  }

  h3 {

    font-size: 14px;

  }

  .staticon {

    justify-content: start !important;
    margin-left: 0 !important;


  }

  .gamecard {

    width: 20rem !important;
    height: 21rem !important;
    margin-top: 2.5rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0;
    padding-right: 0;


  }
  .gamelistselect{


    width: 100% !important;

  }

  .submitimg{

    width:15rem !important;
    height: 18rem !important;

  }


}}
