@import "../node_modules/bootstrap/scss/bootstrap";

/* Custom code here */

/* Define standard variables and values for website */

/*Website colors */
$bgcolor1: #c06faa;
$bgcolor2: #935482;
$bgcolor3: #6b3d5f;
$textcolor1: #f5f5f5;
$textcolor2: #3E2437;

/*Fonts */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Play&family=Russo+One&display=swap');

$fontsizeText: 18px;
$fontsizeH2: 40px;
$fontsizeH3: 32px;



.search {
  width: 75%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #935482;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #935482;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #935482;
  background: #935482;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

