{% block body %}
<!doctype html>
<html lang="fr">
{% include 'parts/head.twig' %}

<body>


{% include 'parts/header.twig' %}


<main>
    <!--SUBMIT GAMETIME FORM -->
    <section>

        <div class="container-fluid bgsection pb-5 mb-5 shadow-lg rounded">
            <div class="row mb-5">

                <div class="d-flex flex-row gamesection">
                    <!--RESUME OF THE GAME -->
                    <div class="col-lg-3">
                        <a href="index.php?controller=default&action=game"><img src="../../assets/pictures/Elden_Ring.jpg"
                                                 class="img-fluid mt-5 mb-3 ms-5 gameimg"
                                                 style="width:22rem;height:28rem;border-radius: 8px" alt="Elden Ring"></a>
                        <div class="ms-3 submitnote d-flex flex-column align-items-center">
                            <h3>Note moyenne des utillisateurs:</h3>
                            <p> 4.5/5</p>
                            <button
                                    type="button"
                                    class="btn btn-lg bgsection1 mx-auto mb-3 d-flex justify-content-center text-white sectionbutton"
                                    value="Add"
                            >
                                Voir les reviews
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="d-flex flex-row mt-5 gametext ms-5 justify-content-center">
                            <div class="d-flex flex-column align-items-center ms-5 subgametext">
                                <h3 class="text-center">Temps de jeu moyen</h3>
                                <p> 999 999h 59min 59s</p>
                            </div>

                            <div class="d-flex flex-column align-items-center ms-5 subgametext">
                                <h3 class="text-center">Histoire</h3>
                                <p> 999 999h 59min 59s</p>
                            </div>

                            <div class="d-flex flex-column align-items-center ms-5 subgametext">
                                <h3>Histoire+Extras</h3>
                                <p> 999 999h 59min 59s</p>
                            </div>

                            <div class="d-flex flex-column align-items-center ms-5 subgametext">
                                <h3>Complétioniste</h3>
                                <p> 999 999h 59min 59s</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row mt-5 gametext ms-5 mb-4 justify-content-center">

                            <div class="d-flex flex-column align-items-center ms-5 subgametext">
                                <h3>Plateformes:</h3>
                                <p>PC/PS4/PS5/Xbox One/Xbox Series</p>
                            </div>

                            <div class="d-flex flex-column align-items-center ms-5 subgametext">
                                <h3>Catégorie:</h3>
                                <p>RPG/Aventure/Monde Ouvert</p>
                            </div>

                            <div class="d-flex flex-column align-items-center ms-5 subgametext">
                                <h3>Date de parution:</h3>
                                <p> 28 Février 2022</p>
                            </div>
                        </div>

                        <div class="d-flex flex-column align-items-center">
                            <h3 class="mb-4">Description du jeu</h3>
                            <p class="bgsection3 shadow-lg rounded px-3 py-3 text-center mx-5"> The Golden Order has
                                been broken. Rise, Tarnished, and be guided by
                                grace to brandish the power of the Elden Ring and become an Elden Lord in the Lands
                                Between.
                                <br/><br/>
                                In the Lands Between ruled by Queen Marika the Eternal, the Elden Ring, the source of
                                the Erdtree, has been shattered.
                                <br/><br/>
                                Marika's offspring, demigods all, claimed the shards of the Elden Ring known as the
                                Great Runes, and the mad taint of their newfound strength triggered a war: The
                                Shattering. A war that meant abandonment by the Greater Will.
                                <br/><br/>
                                And now the guidance of grace will be brought to the Tarnished who were spurned by the
                                grace of gold and exiled from the Lands Between. Ye dead who yet live, your grace long
                                lost, follow the path to the Lands Between beyond the foggy sea to stand before the
                                Elden Ring. And become the Elden Lord.</p>
                        </div>


                    </div>

                </div>


            </div>
        </div>


    </section>

    <section class="hidden hide">

        <h2 class="mb-5 text-center">Review des joueurs</h2>

        <div class="container bgsection shadow-lg rounded my-5 ">
            <div class="d-flex flex-row mt-5 justify-content-evenly reviewgame">

                <div class="d-flex flex-row ps-5 me-5  mt-3">

                    <img src="../../assets/pictures/vegeta_1771.jpg" class="img-fluid shadow-lg rounded headsubreviewgame"
                         style="max-height: 128px ; max-width: 128px"
                         alt="VGT_avatar">
                    <h3 class="ms-4 py-5">
                        <!-- Numbers will be changed when the bdd will be implemented -->
                        Vegeta_88
                    </h3>

                </div>
                <div class="d-flex flex-row mt-5 pt-5 subreviewgame">
                    <p>C’est trop bien ce jeu je recommande! Alors oui, c’est un jeu difficile qui demande du temps afin
                        d’être appréhendée, mais quel bonheur de battre un boss sur lequel on a buté pendant 2 heures
                        !<br/><br/>
                        En plus, le monde ouvert est magnifique, j’adore ! Seul bémol, j’ai par moment été un peu
                        perdu.</p>
                </div>
                <div class="d-flex flex-row mt-3 staticon ">
                    <p class="text-center px-5 me-3">09/04/2022 10:35</p>
                </div>
            </div>
            <div class="d-flex flex-row mt-3 justify-content-end ">
                <p class="text-center ms-5 px-5 fw-bold">Note attribué: 4/5</p>
            </div>
        </div>

        <div class="container bgsection shadow-lg rounded my-5 ">
            <div class="d-flex flex-row mt-5 justify-content-evenly reviewgame">

                <div class="d-flex flex-row ps-5 me-5 mt-3 ">

                    <img src="../../assets/pictures/vegeta_1771.jpg" class="img-fluid shadow-lg rounded headsubreviewgame"
                         style="max-height: 128px ; max-width: 128px"
                         alt="VGT_avatar">
                    <h3 class="ms-4 py-5">
                        <!-- Numbers will be changed when the bdd will be implemented -->
                        Vegeta_88
                    </h3>

                </div>
                <div class="d-flex flex-row mt-5 pt-5 subreviewgame">
                    <p>C’est trop bien ce jeu je recommande! Alors oui, c’est un jeu difficile qui demande du temps afin
                        d’être appréhendée, mais quel bonheur de battre un boss sur lequel on a buté pendant 2 heures
                        !<br/><br/>
                        En plus, le monde ouvert est magnifique, j’adore ! Seul bémol, j’ai par moment été un peu
                        perdu.</p>
                </div>
                <div class="d-flex flex-row mt-3 staticon ">
                    <p class="text-center px-5 me-3">09/04/2022 10:35</p>
                </div>
            </div>
            <div class="d-flex flex-row mt-3 justify-content-end ">
                <p class="text-center ms-5 px-5 fw-bold">Note attribué: 4/5</p>
            </div>
        </div>

        <div class="container bgsection shadow-lg rounded my-5 ">
            <div class="d-flex flex-row mt-5 justify-content-evenly reviewgame">

                <div class="d-flex flex-row ps-5 me-5 mt-3 ">

                    <img src="../../assets/pictures/vegeta_1771.jpg" class="img-fluid shadow-lg rounded headsubreviewgame"
                         style="max-height: 128px ; max-width: 128px"
                         alt="VGT_avatar">
                    <h3 class="ms-4 py-5">
                        <!-- Numbers will be changed when the bdd will be implemented -->
                        Vegeta_88
                    </h3>

                </div>
                <div class="d-flex flex-row mt-5 pt-5 subreviewgame">
                    <p>C’est trop bien ce jeu je recommande! Alors oui, c’est un jeu difficile qui demande du temps afin
                        d’être appréhendée, mais quel bonheur de battre un boss sur lequel on a buté pendant 2 heures
                        !<br/><br/>
                        En plus, le monde ouvert est magnifique, j’adore ! Seul bémol, j’ai par moment été un peu
                        perdu.</p>
                </div>
                <div class="d-flex flex-row mt-3 staticon ">
                    <p class="text-center px-5 me-3">09/04/2022 10:35</p>
                </div>
            </div>
            <div class="d-flex flex-row mt-3 justify-content-end ">
                <p class="text-center ms-5 px-5 fw-bold">Note attribué: 4/5</p>
            </div>
        </div>
    </section>
</main>

{% include 'parts/footer.twig'%}

<!-- JS script contained in node_modules -->

{% include 'parts/JS_scripts.twig'%}

</body>

</html>

{% endblock %}