{% block body %}
    <!doctype html>
    <html lang="fr">
    {% include 'parts/head.twig' %}

    <body>


    {% include 'parts/header.twig' %}


    <main>
        {% if cookies.accepted is null %}
            <div class="modal fade" id="RGPDModal" tabindex="-1">
                <div class="modal-dialog modal-xl modal-dialog-scrollable">
                    <div class="modal-content">

                        <div class="modal-body row">
                            <div class="col-lg-4 cookieflex">
                                <img src="../../assets/pictures/cookie.png" alt="cookie_img"
                                     class="img-fluid mx-auto d-block"
                                     style="max-width: 380px;max-height: 380px">

                            </div>

                            <div class="col-lg-8 cookieflex2">
                                <p class="mt-5 text-dark text-center py-2">
                                    Chez VGT, on aime bien s'assurer que tout fonctionne bien, mais pour sa, on a
                                    besoin que tu mange un petit cookie :).
                                    Il n'est pas au chocolat ou à la noix de coco, mais il se digère très bien, et
                                    ne feras aucun mal à tes données personnelles!
                                    Pour en savoir plus, consulte notre <a href="#"> Politique de
                                        confidentialité </a> !
                                </p>
                            </div>

                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <a id="modal-add-link" href="#" class="btn btn-lg bgsection3 text-white me-4">Plus
                                d'infos</a>
                            <a href="/home/cookie" type="button" class="btn btn-lg bgsection1 text-white">Accepter les
                                cookies</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- The most popular games section -->
        <section class="bgsection px-5 py-5">
            {{ dump(cookies) }}
            <div class="container">

                <h2 class="text-center mb-5"> Jeux Populaires </h2>

                <div class="d-flex flex-row justify-content-center game">

                    <div class="flip-card me-3 gamecard" style="width:15rem;height:21rem;">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../assets/pictures/Elden_Ring.jpg" class="img-fluid w-100"
                                     style="width:15rem;height:21rem;border-radius: 8px" alt="Elden Ring">
                            </div>
                            <div class="flip-card-back">
                                <h2 class="mt-4">Elden Ring</h2>
                                <p class="text-white mt-4">Temps de jeu moyen:</p>
                                <p class="text-white-50">999h 99 min 59s</p>
                                <p class="text-white">Note moyenne des utilisateurs:</p>
                                <p class="text-white-50">4.5/5</p>
                            </div>
                        </div>
                    </div>

                    <div class="flip-card mx-3 gamecard" style="width:15rem;height:21rem;">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../assets/pictures/Elden_Ring.jpg" class="img-fluid w-100"
                                     style="width:15rem;height:21rem;border-radius: 8px" alt="Elden Ring">
                            </div>
                            <div class="flip-card-back">
                                <h2 class="mt-4">Elden Ring</h2>
                                <p class="text-white mt-4">Temps de jeu moyen:</p>
                                <p class="text-white-50">999h 99 min 59s</p>
                                <p class="text-white">Note moyenne des utilisateurs:</p>
                                <p class="text-white-50">4.5/5</p>
                            </div>
                        </div>
                    </div>

                    <div class="flip-card mx-3 gamecard" style="width:15rem;height:21rem;">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../assets/pictures/Elden_Ring.jpg" class="img-fluid w-100"
                                     style="width:15rem;height:21rem;border-radius: 8px" alt="Elden Ring">
                            </div>
                            <div class="flip-card-back">
                                <h2 class="mt-4">Elden Ring</h2>
                                <p class="text-white mt-4">Temps de jeu moyen:</p>
                                <p class="text-white-50">999h 99 min 59s</p>
                                <p class="text-white">Note moyenne des utilisateurs:</p>
                                <p class="text-white-50">4.5/5</p>
                            </div>
                        </div>
                    </div>

                    <div class="flip-card ms-3 gamecard" style="width:15rem;height:21rem;">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../assets/pictures/Elden_Ring.jpg" class="img-fluid w-100"
                                     style="width:15rem;height:21rem;border-radius: 8px" alt="Elden Ring">
                            </div>
                            <div class="flip-card-back">
                                <h2 class="mt-4">Elden Ring</h2>
                                <p class="text-white mt-4">Temps de jeu moyen:</p>
                                <p class="text-white-50">999h 99 min 59s</p>
                                <p class="text-white">Note moyenne des utilisateurs:</p>
                                <p class="text-white-50">4.5/5</p>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </section>

        <!-- "Why VGT ?" section -->
        <section>

            <div class="container mt-5">


                <div class="row">

                    <div class="col-lg-6">
                        <!-- Text part -->
                        <h2 class="text-center sectiontitle why"> Pourquoi VGT ?</h2>
                        <p class="mt-3">
                            Logoden biniou degemer mat an penn ar bed kardeur, lakaat kenavo an Ar Releg-Kerhuon bleud
                            kemener. Ar kann nav poan rimiañ Montroulez, al prest pevarzek o kempenn, kuit setu kloc’h
                            gwenan. Vrozh gallek muzul evidoc'h kontell goulou gloan korn lonkañ, brudet lavarout
                            warnomp
                            siwazh unan martolod. Daoudroad trec’h ha dale Malo Roazhon dall gant horolaj, c’hoant
                            disadorn
                            n’eus kustum gador droug.
                            <br/> Met drezo da hervez goulenn tarv, pelec’h enno c’harrez koumoul magañ, ha sellout
                            Briad
                            an. Lerenn vezañ koad rodell bemnoz raok bodet kilañ bezh, Pask lonkañ erc’h ul follenn ha.
                            Toullañ reolenn keniterv Pembo paner pesk, gwir kompren lipat marv veur, abaoe digwener bale
                            Plouared. Matezh beuziñ diaes ugnet moged gwalenn, mervel spontus sellout pal envel, difenn
                            kerc’h garmiñ ledan. Kleiz purgator e pegañ skorn c’hraou kontrol fri vezañ, kefe druez e
                            kerzu
                            strad touellañ. Kilañ deuet koef gomz goz señin, ar bodet gentel puñs mall, Ar Vouster
                            diskar
                            kontrol er.
                        </p>
                    </div>

                    <div class="col-lg-6">
                        <!-- Image part -->
                        <img src="../../assets/pictures/whysection.jpg"
                             class="img-fluid w-100 rounded mx-auto d-block mb-5"
                             style="margin-top: 4rem"
                             alt="VGT_why">
                    </div>

                </div>

            </div>

        </section>

        <!-- What's new in 48h section -->
        <section class="bgsection  px-5 py-5">

            <div class="container-fluid mb-5">

                <div class="d-flex flex-row-reverse sectiontitle">
                    <div class="col-lg-6-md-12 whatnew">
                        <h2 class="text-center mb-5 pe-5 sectiontitle ">
                            Quoi de neuf en 48h?
                        </h2>
                    </div>
                </div>

                <div class="d-flex flex-row justify-content-start ms-5 ps-5 me-5 staticon ">
                    <img src="../../assets/pictures/plus.png" class="img-fluid"
                         style="max-height: 48px ; max-width: 48px"
                         alt="VGT_icon">
                    <h3 class="py-3 ms-2">
                        <!-- Numbers will be changed when the bdd will be implemented -->
                        999 999 nouveaux jeux enregistrés
                    </h3>

                </div>

                <div class="d-flex flex-row justify-content-center  staticon ">
                    <img src="../../assets/pictures/timer.png" class="img-fluid"
                         style="max-height: 48px ; max-width: 48px"
                         alt="VGT_icon">
                    <h3 class="py-3 ms-2">
                        <!-- Numbers will be changed when the bdd will be implemented -->
                        999 999 nouveaux temps de jeux
                    </h3>

                </div>

                <div class="d-flex flex-row justify-content-end me-5  pe-5 mb-5 staticon ">
                    <img src="../../assets/pictures/usericon.png" class="img-fluid"
                         style="max-height: 48px ; max-width: 48px"
                         alt="VGT_icon">
                    <h3 class="py-3 ms-2">
                        <!-- Numbers will be changed when the bdd will be implemented -->
                        999 999 nouveaux utilisateurs
                    </h3>

                </div>
            </div>

        </section>
    </main>


    {% include 'parts/footer.twig' %}

    <!-- JS scripts -->
    {% include 'parts/JS_scripts.twig' %}
    <script>

        let cookie = new bootstrap.Modal(document.getElementById('RGPDModal'));
        cookie.show();

    </script>
    </body>

    </html>
{% endblock %}