{% block body %}
    <!doctype html>
    <html lang="fr">
    {% include 'parts/head.twig' %}

    <body>


    {% include 'parts/headeradmin.twig' %}


    <main>
        <!--INSERT CODE HERE -->

        <section>
            <div class="container my-5">
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col" class="text-center">Titre</th>
                        <th scope="col" class="text-center">Résumé</th>
                        <th scope="col" class="text-center">Actions</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for game in games %}
                        <tr>
                            <th scope="row">{{game.id}}</th>
                            <td>{{game.title}}</td>
                            <td>{{ game.resume }}</td>
                            <td><a href="#" type="button" class="btn btn-lg btn-secondary my-3">Modifier</a>
                                <a href="#" type="button" class="btn btn-lg btn-danger my-3 ">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>


    {% include 'parts/footer.twig' %}

    <!-- JS scripts -->

    {% include 'parts/JS_scripts.twig' %}

    <script>

    </script>

    </body>
    </html>
{% endblock %}