{% block body %}
    <!doctype html>
    <html lang="fr">
    {% include 'parts/head.twig' %}

    <body>


    {% include 'parts/headeradmin.twig' %}


    <main>
        <!--INSERT CODE HERE -->

        <section>
            <div class="container my-5">
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col" class="text-center">Titre</th>
                        <th scope="col" class="text-center">Résumé</th>
                        <th scope="col" class="text-center">Genres</th>
                        <th scope="col" class="text-center">Plateformes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>


    {% include 'parts/footer.twig' %}

    <!-- JS scripts -->

    {% include 'parts/JS_scripts.twig' %}

    <script>

    </script>

    </body>
    </html>
{% endblock %}