<footer>
    <section class="px-5 py-2 bgsection3">
        <div class="container footercontent">
            <div class="orgfootercontent">
                <div class="d-flex flex-row justify-content-between footercontent contacticon mt-4">

                    <div class="d-flex flex-row justify-content-start footersubcontent animfooter">
                        <!-- Contact us and Data Policy -->

                        <i class="fa-solid fa-envelope fa-2x"></i>
                        <a href="mailto:juleray@msn.com" target="_blank">
                            <h5 class="py-1 ms-2 footertext">
                                Contactez-nous !
                            </h5>
                        </a>
                    </div>

                    <div class="d-flex flex-row justify-content-center bgsection3 footersubcontent socialicon">
                        <!-- Social Networks -->

                        <a href="https://facebook.com" aria-label="Facebook" target="_blank">
                            <i class="fa-brands fa-facebook-square fa-2x me-4 pb-4"></i>
                        </a>
                        <a href="https://discord.gg/d95kreZjPG" aria-label="Discord" target="_blank">
                            <i class="fa-brands fa-discord fa-2x" style="width:64px;height:64px"></i>
                        </a>
                        <a href="https://twitter.com" class="social" aria-label="Twitter" target="_blank">
                            <i class="fa-brands fa-twitter-square fa-2x"></i>
                        </a>


                    </div>

                    <div class="d-flex flex-row justify-content-end footersubcontent animfooter">
                        <!-- Legal mentions -->

                        <i class="fa-solid fa-scale-balanced fa-2x"></i>
                        <a href="/home/mentions" class="social">
                            <h5 class="py-1 ms-2 footertext">
                                Mentions Légales !
                            </h5>
                        </a>
                    </div>

                </div>


            </div>

        </div>
        <div class="text-white d-flex justify-content-end">©Julien RAYNAUD {{"now"|date("Y")}}</div>
    </section>
</footer>