
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- FONTAWESOME -->
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
    <!-- SCSS -->
    <link href="../../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/r-2.3.0/sc-2.0.6/sl-1.4.0/datatables.min.css"/>


    <title>VGT-VideoGameTime</title>
</head>