
<header>
    {{ dump(gamer) }}
    <div class="container-fluid">

        <div class="row ">

            <div class="col-lg-4 logo">
                <div class="d-flex flex-row navhead">
                    <!-- Logo -->
                    <a href="/home">
                        <img src="../../assets/pictures/logo.svg" class="py-2 mx-3"
                             style="height: 160px ;width: 160px"
                             alt="VGT_logo">
                    </a>
                    <h1>VideoGameTime</h1>

                </div>
            </div>

            <div class="col-lg-4 searchbar">

                <!-- Searchbar -->
                <div class="d-flex flex-row navhead">
                    <div class="search mt-5 mx-5 py-2 searchbar">
                        <input type="text" class="searchTerm" placeholder="Cherche tes jeux ici !">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 ">
                <!-- Submit and Log buttons-->
                <div class="d-flex flex-row logsubmit">
                    <div class="col-lg-6 d-flex justify-content-end">
                        <a href="/security/submit">
                            <img src="../../assets/pictures/submit.png" class="img-fluid rounded mx-auto d-block mt-5"
                                 style="height: 64px ;width: 64px" alt="VGT_submit">
                            <p class="text-center"> Soumettre un temps </p>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href="/home/login">
                            <img src="../../assets/pictures/login.png" class="img-fluid rounded mx-auto d-block mt-5"
                                 style="height: 64px ;width: 64px" alt="VGT_login">
                            <p class="text-center"> Connexion/Inscription </p>
                        </a>
                    </div>


                </div>

            </div>
        </div>
    </div>

</header>

