<header>
    <div class="container-fluid">

        <div class="row ">

            <div class="col-lg-4 logo">
                <div class="d-flex flex-row navhead">
                    <!-- Logo -->
                    <a href="/">
                        <img src="../../assets/pictures/logo.svg" class="py-2 mx-3"
                             style="height: 140px ;width: 140px"
                             alt="VideoGame Time logo"
                             title="VideoGame Time">
                    </a>
                    <h1>VideoGameTime</h1>

                </div>
            </div>

            <div class="col-lg-4 searchbar">

                <!-- Searchbar -->
                <div class="d-flex flex-row navhead">
                    <form method="post" action="/home/search" class="w-100" id="formSearch" name="formSearch">
                        <div class="search mt-5 mx-5 py-2 searchbar">
                            <input type="text" class="searchTerm" name="searchResult" id="searchResult"
                                   placeholder="Cherche tes jeux ici !">
                            <button type="submit" class="searchIcon" aria-label="Search Icon">
                                <i class="fa fa-search"></i>
                            </button>

                        </div>
                        <ul class="bg-light py-3  ms-5 rounded-2 w-75 list-group list-group-flush searchHide searchHidden scroller">

                        </ul>
                    </form>
                </div>
            </div>


            <div class="col-lg-4 ">

                <!-- Submit and Log buttons-->
                <div class="d-flex flex-row logsubmit">
                    {% if gamer %}
                        <div class="col-lg-3 d-flex justify-content-end subutton">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#noConnect">
                                <img src="../../assets/pictures/submit.png"
                                     class="img-fluid rounded mx-auto d-block mt-5"
                                     style="height: 48px ;width: 48px" alt="VGT_submit">
                                <p class="text-center"> Ajoute ton temps ! </p>
                            </a>

                            <!-- Modal Submit -->
                            <div class="modal fade" id="noConnect" data-bs-keyboard="false"
                                 tabindex="-1" aria-labelledby="noConnectLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header d-flex justify-content-center">
                                            <div class="row d-flex justify-content-center">

                                                <h5 class="modal-title text-dark text-center" id="noConnectLabel">

                                                    🎮 Trouve ton jeu et saisis ton temps ! 🎮
                                                </h5>

                                            </div>
                                        </div>
                                        <div class="modal-body">

                                            <form method="post" action="#" id="formSubmit"
                                                  name="formSubmit">
                                                <div class="d-flex flex-column">
                                                    <label for="submitResult" class="text-center text-dark mb-2">Recherche
                                                        ton jeu ici:</label>

                                                    <input type="text"
                                                           class="submitTerm w-50 align-self-center text-center mb-2"
                                                           name="submitResult"
                                                           id="submitResult"
                                                           placeholder="Niwee Simulator 2022" value=""/>
                                                    <ul class="bg-light py-3  ms-5 rounded-2 w-75 list-group list-group-flush submitHide submitHidden subscroller">

                                                    </ul>
                                                </div>
                                            </form>
                                            <form method="post" action="/security/submit">
                                                <div class="d-flex flex-column">
                                                    <div class="form-group formHide formHidden">

                                                        <label for="jeu" class="text-center text-dark mb-2">Jeu
                                                            choisi:</label>
                                                        <input type="text" class="submitGame" name="submitGame"
                                                               id="submitGame" value="">

                                                    </div>

                                                    <div class="form-group formHide idFormHidden">

                                                        <label for="idSubmitGame" class="text-center text-dark mb-2"> ID
                                                            Jeu choisi:</label>
                                                        <input type="number" class="submitGame" name="idSubmitGame"
                                                               id="idSubmitGame" value="">

                                                    </div>

                                                    <label for="categories" class="text-center text-dark mb-2">Choisis
                                                        une
                                                        catégorie de temps de
                                                        jeu:</label>

                                                    <select name="categories" id="categories"
                                                            class="form-select align-self-center mb-2 w-50">
                                                        <option value="Histoire">Histoire</option>
                                                        <option value="Histoire + Extras">Histoire + Extras</option>
                                                        <option value="Complétioniste">Complétioniste</option>

                                                    </select>
                                                    <label for="hours" class="text-center">Enregistre ton temps de jeux
                                                        (heures/minutes/secondes):</label>
                                                    <div class=" form-group mt-3 d-flex flex-row justify-content-center">

                                                        <input type="number" id="hours" name="hours"
                                                               min="1" max="9999" style="width:10%;height:10%">
                                                        <p class="text-dark">h</p>
                                                        <input type="number" id="minuts" name="minuts"
                                                               min="1" max="59" style="width:10%;height:10%">
                                                        <p class="text-dark">min</p>
                                                        <input type="number" id="seconds" name="seconds"
                                                               min="1" max="59" style="width:10%;height:10%">
                                                        <p class="text-dark">sec</p>

                                                    </div>


                                                    <button
                                                            type="submit"
                                                            class="btn btn-lg bgsection1 mx-auto mb-2 mt-3 d-flex justify-content-center text-white"
                                                            value="Validate"
                                                    >
                                                        Valider le temps de jeu
                                                    </button>

                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-center">

                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                                Finalement, flemme
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 account ">

                            <a href="/security/gamer">
                                <img src="../../assets/pictures/home.png" class="img-fluid rounded mx-auto d-block mt-5"
                                     style="height: 48px ;width: 48px" alt="VGT_login">
                                <p class="text-center"> Mon compte </p>
                            </a>

                        </div>
                        <div class="col-lg-3 logbutton">

                            <a href="/security/logout">
                                <img src="../../assets/pictures/login.png"
                                     class="img-fluid rounded mx-auto d-block mt-5"
                                     style="height: 48px ;width: 48px" alt="VGT_login">
                                <p class="text-center"> Déconnexion </p>
                            </a>

                        </div>
                    {% else %}
                        <div class="col-lg-6 d-flex justify-content-end subutton">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#noConnect">
                                <img src="../../assets/pictures/submit.png"
                                     class="img-fluid rounded mx-auto d-block mt-5"
                                     style="height: 48px ;width: 48px" alt="VGT_submit">
                                <p class="text-center"> Ajoute ton temps ! </p>
                            </a>
                            <!-- Modal Submit -->
                            <div class="modal fade" id="noConnect" data-bs-keyboard="false"
                                 tabindex="-1" aria-labelledby="noConnectLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header d-flex justify-content-center">
                                            <div class="row d-flex justify-content-center">

                                                <h5 class="modal-title text-dark text-center" id="noConnectLabel">
                                                    <img
                                                            src="/assets/pictures/babyyoda.webp"
                                                            style="max-width: 64px; max-height: 64px">
                                                    Connecté tu dois être <img
                                                            src="/assets/pictures/babyyoda.webp"
                                                            style="max-width: 64px; max-height: 64px"></h5>

                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-dark"> Il faut avoir un compte chez VGT pour soumettre un
                                                temps de jeu, clique sur le bouton à côté, l'inscription est rapide
                                                !</p>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-center">
                                            <a href="/home/login">
                                                <button type="button" class="btn btn-success" title="Me connecter">
                                                    Connecter je vais !
                                                </button>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 logbutton">

                            <a href="/home/login">
                                <img src="../../assets/pictures/login.png"
                                     class="img-fluid rounded mx-auto d-block mt-5"
                                     style="height: 48px ;width: 48px" alt="VGT_login">
                                <p class="text-center"> Connexion/Inscription </p>
                            </a>

                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    {% include "parts/searchbar.twig" %}


    {% if gamer %}
        {% include "parts/submitbar.twig" %}
    {% endif %}
</header>

