
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>VGT-VideoGameTime</title>
    <meta name="Content-Type" content="UTF-8">
    <meta name="Content-Language" content="fr">
    <meta name="Description" content="VGT ou VidéoGameTime est LE site pour connaître la durée de vie d'un jeu vidéo! Consulte les temps enregistrés par nos utilisateurs ou enregistre les tiens!">
    <meta name="Keywords" content="Jeu Vidéo; VGT; VideoGameTime; Temps; Time; Videogame; Gametimes; Temps de jeux;Jeux Vidéos;Gamer;gameurs;gamers;gamer">
    <meta name="Subject" content="Jeux-Vidéos">
    <meta name="Copyright" content="Julien Raynaud 2022">
    <meta name="Author" content="Julien RAYNAUD">
    <meta name="Publisher" content="Julien RAYNAUD">
    <meta name="Robots" content="all">
    <meta name="Distribution" content="global">
    <meta name="Category" content="games">
    <!-- FONTAWESOME -->
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet">
    <!-- SCSS -->
    <link href="../../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/r-2.3.0/sc-2.0.6/sl-1.4.0/datatables.min.css"/>
    <link rel="icon" href="/assets/pictures/logo.ico"/>
</head>